{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Step{% endtrans %} {{ current_step }}: {% trans %}Setup of account and name servers{% endtrans %}
{% endblock %}

{% block content %}
    <p>{% trans %}Now we will gather all details for the configuration itself.{% endtrans %}</p>
    <form class="needs-validation" method="post" novalidate>
        <table class="table table-sm">
            {% if db_type != 'sqlite' %}
            <tr>
                <td>{% trans %}Username{% endtrans %}</td>
                <td class="w-25">
                    <input class="form-control form-control-sm" type="text" name="pa_db_user" value="" required>
                    <div class="invalid-feedback">{% trans %}Provide the user name{% endtrans %}</div>
                </td>
                <td>{% trans %}The username for Poweradmin. This new user will have limited rights only.{% endtrans %}</td>
            </tr>
            <tr>
                <td>{% trans %}Password{% endtrans %}</td>
                <td>
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="password" id="pa_db_pass" name="pa_db_pass" value="" autocomplete="off" required>
                        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="showPassword('pa_db_pass', 'eye1')"><i class="bi bi-eye-fill" id="eye1"></i></button>
                        <div class="invalid-feedback">{% trans %}Provide the user password{% endtrans %}</div>
                    </div>
                </td>
                <td>{% trans %}The password for this username.{% endtrans %}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{% trans %}Hostmaster{% endtrans %}</td>
                <td>
                    <input class="form-control form-control-sm" type="text" name="dns_hostmaster" value="" required>
                    <div class="invalid-feedback">{% trans %}Provide the DNS hostmaster{% endtrans %}</div>
                </td>
                <td>{% trans %}When creating SOA records and no hostmaster is provided, this value here will be used. Should
                    be in the form "hostmaster.example.net".{% endtrans %}
                </td>
            </tr>
            <tr>
                <td>{% trans %}Primary nameserver{% endtrans %}</td>
                <td>
                    <input class="form-control form-control-sm" type="text" name="dns_ns1" value="" required>
                    <div class="invalid-feedback">{% trans %}Provide the primary nameserver{% endtrans %}</div>
                </td>
                <td>{% trans %}When creating new zones using the template, this value will be used as primary nameserver.
                    Should be like "ns1.example.net".{% endtrans %}
                </td>
            </tr>
            <tr>
                <td>{% trans %}Secondary nameserver{% endtrans %}</td>
                <td>
                    <input class="form-control form-control-sm" type="text" name="dns_ns2" value="" required>
                    <div class="invalid-feedback">{% trans %}Provide the secondary nameserver{% endtrans %}</div>
                </td>
                <td>{% trans %}When creating new zones using the template, this value will be used as secondary nameserver.
                    Should be like "ns2.example.net".{% endtrans %}
                </td>
            </tr>
        </table>
        <br>
        <input type="hidden" name="db_user" value="{{ db_user }}">
        <input type="hidden" name="db_pass" value="{{ db_pass }}">
        <input type="hidden" name="db_host" value="{{ db_host }}">
        <input type="hidden" name="db_port" value="{{ db_port }}">
        <input type="hidden" name="db_name" value="{{ db_name }}">
        <input type="hidden" name="db_type" value="{{ db_type }}">
        <input type="hidden" name="db_charset" value="{{ db_charset }}">
        <input type="hidden" name="db_collation" value="{{ db_collation }}">
        <input type="hidden" name="pa_pass" value="{{ pa_pass }}">
        <input type="hidden" name="step" value="{{ next_step }}">
        <input type="hidden" name="language" value="{{ language }}">
        <input type="submit" name="submit" class="btn btn-primary btn-sm" value="{% trans %}Go to step{% endtrans %} {{ next_step }}">
    </form>
{% endblock %}