{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Step{% endtrans %} {{ current_step }}: {% trans %}Create limited-rights user{% endtrans %}
{% endblock %}

{% block content %}
    <p>{% trans %}You now want to give limited rights to Poweradmin so it can update the data in the tables. To do this, you
        should create a new user and give it rights to select, delete, insert, and update records in the PowerDNS
        database.{% endtrans %}</p>
    <p>{% trans %}Execute the following commands based on your database:{% endtrans %}</p>
    <pre>{{ instructions }}</pre>
    <p>{% trans %}After you have added the new user, proceed with this installation procedure.{% endtrans %}</p>
    <form method="post">
        <input type="hidden" name="install_token" value="{{ install_token }}">
        <input type="hidden" name="db_host" value="{{ db_host }}">
        <input type="hidden" name="db_name" value="{{ db_name }}">
        <input type="hidden" name="db_port" value="{{ db_port }}">
        <input type="hidden" name="db_type" value="{{ db_type }}">
        <input type="hidden" name="db_user" value="{{ db_user }}">
        <input type="hidden" name="db_pass" value="{{ db_pass }}">
        <input type="hidden" name="db_charset" value="{{ db_charset }}">
        <input type="hidden" name="db_collation" value="{{ db_collation }}">
        <input type="hidden" name="pa_db_user" value="{{ pa_db_user }}">
        <input type="hidden" name="pa_db_pass" value="{{ pa_db_pass }}">
        <input type="hidden" name="pa_pass" value="{{ pa_pass }}">
        <input type="hidden" name="dns_hostmaster" value="{{ dns_hostmaster }}">
        <input type="hidden" name="dns_ns1" value="{{ dns_ns1 }}">
        <input type="hidden" name="dns_ns2" value="{{ dns_ns2 }}">
        <input type="hidden" name="dns_ns3" value="{{ dns_ns3 }}">
        <input type="hidden" name="dns_ns4" value="{{ dns_ns4 }}">
        <input type="hidden" name="step" value="{{ current_step }}">
        <input type="hidden" name="language" value="{{ language }}">
        <input type="hidden" name="step" value="{{ next_step }}">
        <input type="submit" name="submit" class="btn btn-primary btn-sm" value="{% trans %}Go to step{% endtrans %} {{ next_step }}">
    </form>
{% endblock %}