{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Step{% endtrans %} {{ current_step }}: {% trans %}Setup of account and name servers{% endtrans %}
{% endblock %}

{% block content %}
    <p>{% trans %}Now we will gather all details for the configuration itself.{% endtrans %}</p>
    <form class="needs-validation" method="post" novalidate>
        <input type="hidden" name="install_token" value="{{ install_token }}">
        <table class="table table-sm">
            {% if db_type != 'sqlite' %}
            <tr>
                <td>{% trans %}Username{% endtrans %}</td>
                <td class="w-25">
                    <input id="pa_db_user" class="form-control form-control-sm" type="text" name="pa_db_user" value="{{ pa_db_user }}" required>
                    <label for="pa_db_user" class="invalid-feedback">{% trans %}Provide the user name{% endtrans %}</label>
                </td>
                <td>{% trans %}Poweradmin database username with restricted access. Not for web UI login.{% endtrans %}</td>
            </tr>
            <tr>
                <td>{% trans %}Password{% endtrans %}</td>
                <td>
                    <div class="input-group">
                        <input id="pa_db_pass" class="form-control form-control-sm" type="password" name="pa_db_pass" value="{{ pa_db_pass }}" autocomplete="off" required>
                        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="showPassword('pa_db_pass', 'eye1')"><i class="bi bi-eye-fill" id="eye1"></i></button>
                        <label for="pa_db_pass" class="invalid-feedback">{% trans %}Provide the user password{% endtrans %}</label>
                    </div>
                </td>
                <td>{% trans %}The password for this username.{% endtrans %}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{% trans %}Hostmaster{% endtrans %}</td>
                <td>
                    <input id="dns_hostmaster" class="form-control form-control-sm" type="text" name="dns_hostmaster"
                           value="{{ dns_hostmaster }}" placeholder="hostmaster.example.net" required>
                    <label for="dns_hostmaster"
                           class="invalid-feedback">{% trans %}Provide the DNS hostmaster{% endtrans %}</label>
                </td>
                <td>{% trans %}When creating SOA records and no hostmaster is provided, this value here will be used.{% endtrans %}
                </td>
            </tr>
            <tr>
                <td>{% trans %}Primary nameserver{% endtrans %}</td>
                <td>
                    <input id="dns_ns1" class="form-control form-control-sm" type="text" name="dns_ns1" value="{{ dns_ns1 }}"
                           placeholder="ns1.example.net" required>
                    <div class="invalid-feedback">{% trans %}Provide the primary nameserver{% endtrans %}</div>
                </td>
                <td>
                    <label for="dns_ns1">{% trans %}When creating new zones using the template, this value will be used as primary nameserver.{% endtrans %}</label>
                </td>
            </tr>
            <tr>
                <td>{% trans %}Secondary nameserver{% endtrans %}</td>
                <td>
                    <input id="dns_ns2" class="form-control form-control-sm" type="text" name="dns_ns2" value="{{ dns_ns2 }}"
                           placeholder="ns2.example.net" required>
                    <div class="invalid-feedback">{% trans %}Provide the secondary nameserver{% endtrans %}</div>
                </td>
                <td>
                    <label for="dns_ns2"> {% trans %}When creating new zones using the template, this value will be used as secondary nameserver.{% endtrans %}</label>
                </td>
            </tr>
            <tr>
                <td>{% trans %}Tertiary Nameserver{% endtrans %}</td>
                <td>
                    <input id="dns_ns3" class="form-control form-control-sm" type="text" name="dns_ns3" value="{{ dns_ns3 }}"
                           placeholder="ns3.example.net">
                </td>
                <td>
                    <label for="dns_ns3">{% trans %}When creating new zones using the template, this value will be used as tertiary nameserver.{% endtrans %}</label>
                </td>
            </tr>
            <tr>
                <td>{% trans %}Quaternary Nameserver{% endtrans %}</td>
                <td>
                    <input id="dns_ns4" class="form-control form-control-sm" type="text" name="dns_ns4" value="{{ dns_ns4 }}"
                           placeholder="ns4.example.net">
                </td>
                <td>
                    <label for="dns_ns4">{% trans %}When creating new zones using the template, this value will be used as quaternary nameserver.{% endtrans %}</label>
                </td>
            </tr>
        </table>
        <br>
        <input type="hidden" name="db_user" value="{{ db_user }}">
        <input type="hidden" name="db_pass" value="{{ db_pass }}">
        <input type="hidden" name="db_host" value="{{ db_host }}">
        <input type="hidden" name="db_port" value="{{ db_port }}">
        <input type="hidden" name="db_name" value="{{ db_name }}">
        <input type="hidden" name="db_type" value="{{ db_type }}">
        <input type="hidden" name="db_charset" value="{{ db_charset }}">
        <input type="hidden" name="db_collation" value="{{ db_collation }}">
        <input type="hidden" name="pa_pass" value="{{ pa_pass }}">
        <input type="hidden" name="step" value="{{ next_step }}">
        <input type="hidden" name="language" value="{{ language }}">
        <input type="submit" name="submit" class="btn btn-primary btn-sm" value="{% trans %}Go to step{% endtrans %} {{ next_step }}">
    </form>
{% endblock %}